<nav>
  <div class="nav-wrapper">
    <a routerLink="/users" class="brand-logo">Angular CRUD</a>
    <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
    </ul>
  </div>
</nav>
